* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

body {
  overflow: hidden;
  font-size: 16px; }

.wrap {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #263238;
  padding: 20px;
  z-index: 1; }

main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.wrap:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: .2;
  z-index: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eceff1+0,263238+62,263238+62,263238+100 */
  background: #eceff1;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #eceff1 0%, #263238 62%, #263238 62%, #263238 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eceff1', endColorstr='#263238',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.mdl-button--fab.mdl-button--colored {
  background: #455a64;
  color: white;
  transition: all .2s ease;
  -ms-transform: rotate(0deg);
      transform: rotate(0deg); }

.mdl-button--fab.mdl-button--colored:hover {
  background: white;
  color: #455a64;
  transition: all .2s ease;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

.mdl-button {
  -ms-transform: rotate(10deg);
      transform: rotate(10deg); }

.btn-wrap {
  position: relative;
  /*left: calc(100% - 100px);*/
  text-align: right;
  z-index: 999; }

.btn-wrap span {
  color: white;
  letter-spacing: .2em;
  font-size: .6em;
  font-weight: lighter; }

.btn-portfolio {
  top: calc(100% - 100px);
  right: 0; }

#portfolio-icon:hover > #trending-flat {
  -ms-transform: translateX(10px);
      transform: translateX(10px); }

.btn-portfolio .fab .mdl-button--colored:hover {
  -ms-transform: rotate(0);
      transform: rotate(0); }
