@import "MDL-src/material-design-lite";
@import "config";
@import "layout";

* {
  box-sizing: border-box;
}
body {
  font-family: $font-main;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3em;
  padding: 0;
  margin: 0;

}

#mdl-wrap {
  position: relative;
  height: auto;
}

header {
  border: $border-red;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;

}

header {
  h2 {
    position: relative;
    font-size: .8em;
    font-weight: 400;
    width: 40%;
    border: $border-blue;
    text-align: center;
    line-height: 1.1;
    padding: 60% 0;
  }
}

//NAV



.mdl-tabs__tab-bar {
  background: $color-white;
  // position: fixed;
  // top: 0;
}

.mdl-layout__drawer-button {
  position: fixed;
}

//TAB PANEL
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
      background: $color-black;
}

#projects-panel ul {
  min-height: 100vh;
}
.mdl-tabs__panel ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 0;
  padding-top: 20px;
  // min-height: 100vh;

  li {
    list-style: none;
    width: 90%;
    margin-bottom: 2%;
  }
}

.mdl-tabs__panel {
    .demo-card-wide {
      width: 100%;
      background-color: $color-grey;
      cursor: pointer;
    }
  .mdl-card__title-text {
    font-size: .8em;
  }
  .mdl-card__supporting-text {
    font-size: .7em;
  }
}

#tabs-min-height {
  min-height: 100vh;
}

#profile-panel {
  h4 {
    text-align: center;
  }

  .design ul, .develop ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;

    li p {
      padding-top: 20px;
    }
  }
  .skill-icon {
    height: 80px;
    width: 80px;
    border: 1px solid $color-black;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    background: $color-grey;
    span {
      text-transform: lowercase;

    }
  }

  .develop ul .skill-icon {
    font-size: 1.2em;
    font-weight: 400;
  }
}

// HERO IMAGE


.hero-img {
  position: relative;
  width: 100vw;
  // height: 671.4px;
  height: calc(100vh - 47px);
  background-color: $color-white;
  background: url("../images/hero.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.hero-img:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $color-white;
  opacity: .4;
  z-index: 2;
}

.demo-card-wide {
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mdl-card__title-text {
  text-align: center;
}
// HERO-INNER
.hero-inner {
  width: 90%;
  padding: 50px 25px;
  outline-offset: 6px;
  background-color: $color-white;
  outline-style: double;
  outline-width: 6px;
  outline-color: $color-white;
  z-index: 3;
  text-align: center;
  // border: 1px solid $color-black;


  h1 {
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.3em;
    line-height: 1em;
  }

  h2 {
    font-size: 0.65em;
    margin-top: 5px;
    letter-spacing: 0.3em;
    line-height: 0;
  }
}

h3 {
  font-weight: 200;
  font-size: 1.6em;
  text-align: center;
}

h4 {
  font-weight: 200;
  font-size: 1.5em;
}

//rippler color change MDL

.mdl-tabs__tab .mdl-tabs__ripple-container .mdl-ripple {
  background: transparent;
}

//cv footer

.mdl-mega-footer {
  background-color: transparent;
  .mdl-mega-footer__link-list {
    span {
      font-size: .6em;
      display: block;
    }
  }
}

.mdl-mega-footer--heading, .mdl-mega-footer__heading, .mdl-mega-footer__link-list {
  color: $color-black;
}

.mdl-mega-footer__heading-checkbox:checked> .mdl-mega-footer__heading {
  display: none;
}



.education-ul, .freelance-ul,
.work-xp-ul {
  text-align: center;

  li {
    border-bottom: 1px solid rgba(38, 50, 56, .3);
  }

  .a-levels li {
    border-bottom: none;
  }
}


.mdl-tabs__panel .list-style-dot {
  list-style: lower-roman;
  border-bottom: none;
}

.mdl-tabs__panel ul li p {
  text-align: center;
}

.underline-li {
    border-bottom: 1px solid $color-black;
}

.hobbies li {
  text-align: center;
}

.js-scroll-fix {
position: fixed;
width: 100%;
top: 0;
z-index: 999;
}

.js-scroll-padding{
  margin-top: 58px;
}

.js-scroll-padding-cv {
  margin-top: 50px;
}

.js-body-overflow {
  overflow: visible;
}

@import "media-queries";
